:root{
    --succes-color: #2ecc71;
    --error-color: #F13F58;
    --error-bordercolor: rgba(255, 182, 193, .7);
    --font-size: 16px;
    --body-linear: linear-gradient(124.93deg, #F5FCFE 0%, #FFFCF4 99.63%);
    --main-font: 'Inter', sans-serif;
    --title-font: 'Manrope', sans-serif;
    --color-blue: #2B689B;
    --color-placeholder: #668EB0;
    --btn-bg: #FFD970;
    --btn-color: #0E406A;
    --btn-hover: #FFE292;
}


*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: var(--body-linear);
    font-family: var(--main-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-weight: 400;
}

.container {
    max-width: 1920px;
    padding: 0 16px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form {
    margin-top: 150px;
    padding: 40px 50px;
    background: #FFFFFF;
    -webkit-box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
            box-shadow: 4px 4px 25px rgba(14, 76, 121, 0.18);
    border-radius: 10px;
    max-width: 500px;
    width: 500px;
}

.form-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.form-title {
    font-family: var(--title-font);
    font-size: 1.75rem;
    color: var(--color-blue);
}
.form-head > *:not(:last-child) {
    margin-bottom: 40px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-control .form-control__input
{
    border: none;
    border-bottom: 1px solid var(--color-blue);
    display: block;
    width: 100%;
    padding: 7px 27px 10px 29px;
    position: relative;
    font-size: 1.125rem;   
}
.form-control .form-control__input::-webkit-input-placeholder {
    color: var(--color-placeholder);
}
.form-control .form-control__input::-moz-placeholder {
    color: var(--color-placeholder);
}
.form-control .form-control__input:-ms-input-placeholder {
    color: var(--color-placeholder);
}
.form-control .form-control__input::-ms-input-placeholder {
    color: var(--color-placeholder);
}
.form-control .form-control__input::placeholder {
    color: var(--color-placeholder);
}
.form-control .form-control__input:focus{
    outline: 0;
    border-color: #777;

}

.form-control._error ._error{
    border-bottom-color: var(--error-bordercolor);
}

.form-control .formError {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 7px;
    visibility: hidden;
}
.form-control__reg::before {
    content: '*';
    display: block;
    position: absolute;
    left: 11px;
    top: 5px;
    z-index: 2;
    color: var(--error-bordercolor); 
}
.form-control._error small{
    visibility: visible;
    font-size: 0.8rem;
    white-space: nowrap;
}
.form-control__reg._succes ._reg{
    border-bottom-color: green;
}

.form .form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form .form-bottom .descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding-left: 11px;
    color: var(--color-blue);
    text-align: left;
}
.form .form-bottom .descr sub {
    color: var(--error-bordercolor);
    margin-right: 9px;
    font-size: 1rem;
}
.form .form-btn {
    margin-top: 30px;
    cursor: pointer;
    border: none;
    background: var(--btn-bg);
    border-radius: 4px;
    color: var(--btn-color);
    display: block;
    padding: 10px;
    font-size: 1rem;
    height: 55px;
    width:100%;
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
    max-width: 242px;
}

.form .form-btn >*:not(:last-child) {
    margin-right: 13px;
}
.form .form-btn:hover {
    background: var(--btn-hover);
}
.form .form-bottom__links {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form .form-bottom__links >*:not(:last-child) {
    margin-right: 35px;
}
.form .form-bottom__links .link {
    text-decoration: none;
    color: #3D7FB7;
    font-weight: 600;
}
.form .form-bottom__links .link.active {
    color: #2B689B;
}
.form-showPass {
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
}
.form-showPass:hover {
    opacity: .7;
}
@media(max-width: 480px) {
    .form {
        margin-top: 55px;
        width: 100%;
        padding: 30px 20px;
    }
    .form-title {
        font-size: 1.25rem;
    }
    .form-head > *:not(:last-child) {
        margin-bottom: 30px;
    }
    .form-head img {
        width: 106px;
        height: 25px;
    }
    .form-head {
        margin-bottom: 30px;
    }
    .form-control .form-control__input {
        font-size: 0.9rem;
    }

    .form .form-bottom .descr {
        font-size: 0.9rem;
    }
    .form .form-bottom__links .link {
        font-size: 0.9rem;
    }
}